body{
    
}


main{

}


#rodape{
    background-color: black;

    display: flex;
    align-items: center;
    justify-items: center;

    position: fixed;
    height: 75px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.carousel{
    display: flex;
    overflow: hidden;
    width: 300px;
}

.carousel img{
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.flex{
    display: flex;
}

.forms{
    margin: 10px;
}