body{
    background-color: #bbaea1;

    margin: 0;
    padding: 0;
}


#navbar{
    background-color: rgb(82, 80, 80);

    display: flex;
    align-items: center;
    justify-content: center;
    
}


#rodape{
    background-color: rgb(82, 80, 80);

    display: flex;
    align-items: center;
    justify-items: center;

    position: fixed;
    height: 75px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.carrosel{
    display: flex;
    overflow: hidden;
    width: 300px;
    background-color: rgb(107, 105, 105);
}

.carrosel img{
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.flex{
    display: flex;
}

.forms{
    margin: 10px;
}